
{% extends "layout.html" %}
{% block page_content %}
 
<div class= 'title'>
Update E-mail
</div>
<form action="{{ url_for('account_delete') }}">
        <button type="submit">Delete your account</button>
</form>
    <p>Need to change your  E-mail?</p>
    <div class='form'>
        <form method='POST' action=''>
            {{ form.hidden_tag() }}
            <div class='form_group'>
                {{ form.email.label }}
                {{ form.email }}
                {% if form.email.errors %}
                    <div class='error'>
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            <div class='form_group'>
                {{ form.submit }}
            </div>
        </form>
    </div>
{% endblock page_content %}

