
{% extends "layout.html"  %}
<html>
>
<br>
<div>
{% block body_content %}
<!-- container for the form -->
     <form method='POST' action=''>
         <!-- surround the displayed errors in a error div tag, this can then be styled later to be red etc. -->
         <ul class="error">
            <!-- for each error in the errors for the title input field -->
	    <br>
            {{ form.hidden_tag() }}
            {{ form.title.label }}
            {{ form.title }}
            {% if form.title.errors %}
               {% for error in form.title.errors %}
                <!-- display the error -->
                <span>{{ error }}</span>
            <!-- end the for-loop -->
               {% endfor %}
          
             <!-- end the if statement -->
            {% endif %}   
            </br>
            </ul>
 {{ form.submit }}
     </form>
     

 {% endblock %}
</div>
</br>
</html>
