<!DOCTYPE html>
<html> 
{% extends "layout.html" %}




{% block page_content %}
<body>
<div class="container">

<p>This website was created to allow users to keep track and rate movies that they have watched. Because remembering what you have watched is not an easy task...at times.</p>
                        <p>Below is just a set of simple instruction on how to use this website.</p>
                            <ul style="list-style-type: "1">
                              <li>Register and create an account</li>
                                <li>To view the movies in your database proceed to the movies page. At this point you won't have anything but an empty page</li>
                                  <li>The movies page will have a 3 buttons each that will allow you to 'add','delete' and 'update' the contents in your own personal database!</li>
                            </ul>

 <p>Hope you enjoy your stay here!</p>















{% endblock page_content %}  

 
</div>
 	      		



</body>   
</html>
