<body>







	<div class="navbar">
	<a href="{{ url_for('home') }}"><button>Home</button></a>
	{% if current_user.is_authenticated is sameas false %} 
	<a href="{{ url_for('register') }}"><button>Register</button></a>
	<a href="{{ url_for('login') }}"><button>Login</button></a>
	{% else %}
	
	<a href="{{ url_for('movies') }}"><button>Movies</button></a>
	<a href="{{ url_for('account') }}"><button>Update Account</button></a>
	<a href="{{ url_for('logout') }}"><button>Logout</button></a>	
	{% endif %}
	{% block body_content %} {% endblock %}
        </div>
</body>
