<html>
{% extends "layout.html" %}
{% block page_content %}
    <h1>Movies Page!</h1>
    <p>Welcome to this web app!</p>


<br>    
<a href="{{ url_for('add') }}"><button>Add Movie</button></a>
<a href="{{ url_for('update') }}"><button>Update Movie</button></a>
<a href="{{ url_for('deleteMovie') }}"><button>Delete Movie</button></a>
</br>
<br>
<table cellpadding="5px" border="1px solid black">
<thead><tr><th>Title</th><th>Genre</th><th>Director</th><th>Rating</th></tr></thead>
<tbody>
{% if movies %}
  {% for movie in movies %}
<tr><td>{{movie.title}}</td><td>{{movie.genre}}</td><td>{{movie.director}}</td><td>{{movie.rating}}</td></tr>
  {% endfor %}
</tbody>
</table>

{% else  %}
  <p>There are no movies broo!</p>
{% endif  %}

{% endblock page_content %}
</br>   
</html>
