<html>
{% extends "layout.html" %}
{% block page_content %}
<div>
    <b> Please Add your Movie Here and Enter a rating from  A-F (A being the highest, F being the Lowest) </b>
</div>

<br>    
<a href="{{ url_for('add') }}"><button>Add Movie</button></a>
<a href="{{ url_for('update') }}"><button>Update Movie</button></a>
<a href="{{ url_for('deleteMovie') }}"><button>Delete Movie</button></a>
</br>
<br>


<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Genre</th>
        <th>Director</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
    {% if movies %}
  {% for movie in movies %}
      <tr>
        <td>{{movie.title}}</td>
        <td>{{movie.genre}}</td>
        <td>{{movie.director}}</td>
        <td>{{movie.rating}}</td>
      </tr>
    {% endfor %}

    </tbody>
  </table>
</div>

{% else  %}
  <p>There are no movies broo!</p>
{% endif  %}

{% endblock page_content %}
</br>   
</html>
