
{% extends "layout.html"  %}
<html>
<br>
<div>
{% block page_content %}


<div>
<b>Please Update your Movie Here and Enter a rating from A-F (A being the highest, F being the Lowest)</b>
</div>

<!-- container for the form -->
     <form method='POST' action=''>
         <!-- surround the displayed errors in a error div tag, this can then be styled later to be red etc. -->
         <ul class="error">
            <!-- for each error in the errors for the title input field -->
<div>	   
<form>
 {{ form.hidden_tag() }}
<table class="table">
    <tbody>
       <tr class="danger">
	
        <td>{{ form.title.label }}</td>
        <td>{{ form.title }} {% if form.title.errors %}{% for error in form.title.errors %}{{ error }} {% endfor  %} {% endif %}</td>
        </tr> 
         <tr> <td> {{ form.rating.label }}</td>
            <td> {{ form.rating }}</td>
            </tr>
         <tr>    <td>{{ form.genre.label }}</td>
            <td>{{ form.genre }}</td>
           </tr> 
           <tr>
             <td>{{ form.director.label }}</td>
             <td> {{ form.director }}</td>
            </tr>     
        <tr>
        <td>  {{ form.submit }}</td>
      </tr>
     </tbody>
  </table>
</form>
</div>          
    

{% endblock page_content %}
</div>
</br>
</html>
